{% set pageVar = {title: 'TWINSHIPS - Camera'} %}
{% extends './layout/base.html' %}
{% block content %}
<main>
  <div class="container px-4 px-md-3">
    <div class="row align-items-lg-center">
      <div class="col-md-12 text-center">
        <h1 class="text_sub mb-3">사진촬영 페이지</h1>
      </div>
      <div class="col-12 mx-auto d-flex justify-content-center position-relative mt-5">
        <div class="play">
          <svg class="play_circle">
            <ellipse id="n_2" rx="92" ry="92" cx="92" cy="92"></ellipse>
          </svg>
          <i class="material-icons position-absolute top-50 start-50 translate-middle ico_camera">photo_camera</i>
        </div>
      </div>
      <div class="d-flex flex-column flex-sm-row">
        <div class="photo_button">
          <input type="file" id="input-file" name="input-file" accept="image/*" onchange={handleChange()} hidden/>
          <label class="btn-upload" for="input-file" role="button">촬영하기</label>
        </div>
      </div>
    </div>
  </div>
</main>
<footer></footer>
{% endblock %}
{% block  script %}

{% endblock %}