{% set pageVar = {title: 'TWINSHIPS - Guide'} %}
{% extends './layout/base.html' %}
{% block content %}
<main>
  <div class="container px-4 px-md-3">
    <div class="row align-items-lg-center">
      <div class="col-md-12 text-center">
        <h1 class="text_sub mb-3">사용법 알림 3</h1>
      </div>
      <div class="col-12 mx-auto">
        <img class="img-fluid mb-3 mb-md-0" src="images/guide_img3.png">
      </div>
      <div class="col-md-12">
        <p class="text_desc">안녕하세요 박장군 고객님, 도면제작 서비스에 <br/>
        가입하신것을 환영합니다.<br/>
        사용법을 안내해드리겠습니다. <br/>
        아래 NEXT버튼을 눌러주세요.
        </p>
      </div>
      <div class="col-md-12 pagenation">
        <div class="col-6 skip">BACK</div>
        <div id="Pagination" class="Pagination">
          <svg class="n_10_bi">
            <ellipse id="n_8_bg" rx="3" ry="3" cx="3" cy="3"></ellipse>
          </svg>
          <svg class="n_9_bh">
            <ellipse id="n_9_bh" rx="3" ry="3" cx="3" cy="3"></ellipse>
          </svg>
          <svg class="n_8_bg">
            <ellipse id="n_10_bi" rx="3" ry="3" cx="3" cy="3"></ellipse>
          </svg>
        </div>
        <div class="col-6 next">NEXT</div>
      </div>
    </div>
  </div>
</main>
<footer></footer>
{% endblock %}
{% block  script %}
<script>
  const back = document.querySelector('.skip')
  const next = document.querySelector('.next')
  
  back.addEventListener('click', e => location.href = '/guide2');
  next.addEventListener('click', e => location.href = '/camera');
</script>
{% endblock %}