<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TWINSHIPS</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="container">
      <img id="n_1468" src="images/n_1468.png" srcset="images/n_1468.png 1x, images/n_1468@2x.png 2x">
      <div id="Next" class="Next">
        <svg class="n_112"><rect id="n_112" rx="4" ry="4" x="0" y="0" width="332" height="53"></rect></svg>
      </div>
      <div id="btn_agree">
        <span>개인정보 및 위치정보 이용에 동의합니다.</span>
      </div>
      <img id="logo_1" src="images/logo_1.png" srcset="images/logo_1.png 1x, images/logo_1@2x.png 2x">
    </div>
  </body>
  <script>
    const agree = document.querySelector('#btn_agree')
    agree.addEventListener('click', e => {
      location.href = '/main'
    })
  </script>
</html>