{% set pageVar = {title: 'TWINSHIPS - Login'} %}
{% extends './layout/base.html' %}
{% block content %}
<main>
  <div class="container px-4 px-md-3">
    <div class="row align-items-lg-center">
      <div class="col-md-8 order-md-1 col-lg-7 text-center text-md-start">
        <h1 class="text_sub mb-3">계정 로그인</h1>
      </div>
      <form class="col-md-8" id="loginForm">
        <div class="form-group mb-4">
          <input type="email" name="email"  class="form-control form-control-lg" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
        </div>
          <div class="form-group">
            <input type="password" name="password" id="password"  class="form-control form-control-lg" aria-describedby="emailHelp" placeholder="Enter Password">
          </div>
          <div class="alert alert-danger alert-dismissible fade mt-3" id="alert"></div>
      </form>
      <div class="d-flex flex-column flex-sm-row mb-3">
        <button class="btn btn-lg btn-primary btn_submit" id="loginBtn">로그인</button>
      </div>
      <div class="d-flex flex-column flex-sm-row mt-3">
        <a href="/signup" class="btn btn-lg btn-primary btn_outline rounded-pill">회원가입</a>
      </div>
  </div>
</main>
{% endblock %}

{% block  script %}
  <script>
    const loginBtn = document.getElementById('loginBtn');
    const form = document.getElementById('loginForm');

    const login = async () => {
      const params = new URLSearchParams();
      params.append('email', form.elements['email'].value);
      params.append('password', form.elements['password'].value);
      
      const post = axios.post('/login', params)
      .then( res =>{
        console.log(res)
        console.log('then')
        console.log(res.statusCode)
        if (res.data.statusCode == 200) {
          window.location.href = '/guide'
        } else {
          if (res.data.statusCode != 200) {
            document.getElementById('alert').innerHTML = res.data.message;
            document.getElementById('alert').classList.add('show')
          }
        }
      }).catch( err => {
        console.log('catch')
        console.log(err)
        document.getElementById('alert').innerHTML = err;
        document.getElementById('alert').classList.add('show')
      })
    }
    loginBtn.addEventListener('click', login);
  </script>
{% endblock %}