{% set pageVar = {title: 'TWINSHIPS - Login'} %}
{% extends './layout/base.html' %}
{% block content %}
<div id="Login">
  {% include './layout/layoutNav.html'%}
	<div id="Next" class="Next">
		<svg class="n_112">
			<rect id="n_112" rx="4" ry="4" x="0" y="0" width="331" height="54"></rect>
		</svg>
		<div id="n_" class="_____">
			<svg class="n_10" viewBox="0 0 17.579 17.579">
				<path id="n_10" d="M 8.789333343505859 0 L 7.191273212432861 1.598060607910156 L 13.24107456207275 7.647861480712891 L 0 7.647861480712891 L 0 9.930805206298828 L 13.24107456207275 9.930805206298828 L 7.191273212432861 15.98060607910156 L 8.789333343505859 17.57866668701172 L 17.57866668701172 8.789333343505859 L 8.789333343505859 0 Z"></path>
			</svg>
		</div>
	</div>
	<div id="n__x">
		<span>계정 로그인</span>
	</div>
  <form id="loginForm">
    <div class="Continue" id="loginBtn">
      <svg class="n_132">
        <rect id="n_132" rx="15" ry="15" x="0" y="0" width="295" height="30"></rect>
      </svg>
      <div id="Text">
        <span>로그인</span>
      </div>
    </div>
    <div id="Inputs">
      <div class="form-group mb-4">
        <input type="email" name="email"  class="form-control form-control-lg" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
      </div>
      <div class="form-group">
        <input type="password" name="password" id="password"  class="form-control form-control-lg" aria-describedby="emailHelp" placeholder="Enter Password">
      </div>
      <div class="alert alert-danger alert-dismissible fade mt-3" id="alert"></div>
    </div>
  </form>
</div>
{% endblock %}

{% block  script %}
  <script>
    const loginBtn = document.getElementById('loginBtn');
    const form = document.getElementById('loginForm');

    const login = async () => {
      const params = new URLSearchParams();
      params.append('email', form.elements['email'].value);
      params.append('password', form.elements['password'].value);
      
      const post = axios.post('/login', params)
      .then( res =>{
        console.log(res)
        console.log('then')
        console.log(res.statusCode)
        if (res.data.statusCode == 200) {
          window.location.href = '/guide'
        } else {
          if (res.data.statusCode != 200) {
            document.getElementById('alert').innerHTML = res.data.message;
            document.getElementById('alert').classList.add('show')
          }
        }
      }).catch( err => {
        console.log('catch')
        console.log(err)
        document.getElementById('alert').innerHTML = err;
        document.getElementById('alert').classList.add('show')
      })
    }
    loginBtn.addEventListener('click', login);
  </script>
{% endblock %}