
{% set pageVar = {title: 'TWINSHIPS - SignUp'} %}
{% extends './layout/base.html' %}
{% block content %}
<div id="Sign_up_">
	<div onclick="application.goToTargetView(event)" id="Next" class="Next">
		<svg class="n_112">
			<rect id="n_112" rx="4" ry="4" x="0" y="0" width="332" height="53">
			</rect>
		</svg>
		<div id="n_" class="_____">
			<svg class="n_10" viewBox="0 0 17.579 17.579">
				<path id="n_10" d="M 8.789333343505859 0 L 7.191273212432861 1.598060607910156 L 13.24107456207275 7.647861480712891 L 0 7.647861480712891 L 0 9.930805206298828 L 13.24107456207275 9.930805206298828 L 7.191273212432861 15.98060607910156 L 8.789333343505859 17.57866668701172 L 17.57866668701172 8.789333343505859 L 8.789333343505859 0 Z">
				</path>
			</svg>
		</div>
	</div>
	<div id="n_1">
		<div id="Input">
      <div class="form-group">
        <input type="text" class="form-control mb-2" placeholder="이름">
        <input type="text" class="form-control mb-2" placeholder="Email">
        <input type="text" class="form-control mb-2" placeholder="생년월일">
        <input type="text" class="form-control mb-2" placeholder="주소">
        <input type="password" class="form-control mb-2" placeholder="암호">
        <input type="password" class="form-control mb-2" placeholder="암호 확인">
      </div>
		</div>
	</div>
	<div id="n__bn">
		<span>계정 생성</span>
	</div>
	<svg class="n_133">
		<rect onclick="application.goToTargetView(event)" id="n_133" rx="24" ry="24" x="0" y="0" width="295" height="48">
		</rect>
	</svg>
	<div id="n___">
		<span>이미 계정이 있으신가요? </span>
	</div>
	<div onclick="application.goToTargetView(event)" id="Next_bq" class="Next">
		<svg class="n_112_br">
			<rect id="n_112_br" rx="4" ry="4" x="0" y="0" width="332" height="53">
			</rect>
		</svg>
	</div>
	<div id="Navigation_Bar" class="Navigation_Bar">
		<svg class="n_68">
			<rect id="n_68" rx="0" ry="0" x="0" y="0" width="332" height="20">
			</rect>
		</svg>
		<svg class="n_69">
			<rect id="n_69" rx="0" ry="0" x="0" y="0" width="332" height="48">
			</rect>
		</svg>
		<div onclick="application.goToTargetView(event)" id="Backward_arrow" class="Backward_arrow">
			<svg class="n_10_bw" viewBox="0 0 16 16">
				<path id="n_10_bw" d="M 8 0 L 6.545454978942871 1.454545497894287 L 12.05194854736328 6.961039066314697 L 0 6.961039066314697 L 0 9.038961410522461 L 12.05194854736328 9.038961410522461 L 6.545454978942871 14.54545497894287 L 8 16 L 16 8 L 8 0 Z">
				</path>
			</svg>
		</div>
		<img id="logo_1-1" src="images/logo_1-1.png" srcset="images/logo_1-1.png 1x, images/logo_1-1@2x.png 2x">
			
	</div>
	<div id="Text_by">
		<span>생성하기</span>
	</div>
</div>
{% endblock %}