
{% set pageVar = {title: 'TWINSHIPS - SignUp'} %}
{% extends './layout/base.html' %}
{% block content %}
<main>
  <div class="container px-4 px-md-3">
    <div class="row align-items-lg-center">
      <div class="col-md-8 order-md-1 col-lg-7 text-center text-md-start">
        <h1 class="text_sub mb-3">계정 생성</h1>
      </div>
      <form class="col-md-8" id="loginForm">
        <div class="form-group">
          <input type="text" class="form-control mb-2" placeholder="이름">
          <input type="text" class="form-control mb-2" placeholder="Email">
          <input type="text" class="form-control mb-2" placeholder="생년월일">
          <input type="text" class="form-control mb-2" placeholder="주소">
          <input type="password" class="form-control mb-2" placeholder="암호">
          <input type="password" class="form-control mb-2" placeholder="암호 확인">
        </div>
      </form>
      <div class="d-flex flex-column flex-sm-row">
        <button class="btn btn-lg btn-primary btn_submit" id="signupBtn">생성하기</button>
      </div>
      <div class="d-flex flex-column flex-sm-row mt-3">
        <a href="/login" class="btn btn-lg btn-primary btn_outline rounded-pill">이미 계정이 있으신가요? </a>
      </div>
  </div>
</main>


{% endblock %}