:root {
  --web-view-ids: container;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
body {
  max-width : 420px;
}
@keyframes fadein {
  
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }  
}
a { color: #00B7FF;}
.title_logo {
  position: relative;
  top: 50px;
}
.btn_agree {
  bottom: 10%;
}
.text_color_basic {
  color: rgba(38,153,251,1);
}
.text_desc {
  line-height: 24px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(38,153,251,1);
}
.media-body {
  margin-top: 5px;
  margin-left: 30px;
}
.sidenav {
  position: fixed;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background: rgba(38,153,251,1);
  z-index: 1;
  /* overflow: visible; */
}
.myinfo_name {
  font-size: 12px;
  font-weight: bold;
}
.myinfo_address {
  font-size: 10px;
}
#n_175 {
  fill: transparent;
}
.n_175 {
  position: absolute;
  overflow: visible;
  width: 16px;
  height: 16px;
  left: 0px;
  top: 0px;
}
#n_4 {
  fill: rgba(38,153,251,1);
}
.n_4 {
  overflow: visible;
  position: absolute;
  width: 16px;
  height: 14px;
  left: 0px;
  top: 1px;
  transform: matrix(1,0,0,1,0,0);
}
@keyframes fadein {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
#n_123 {
  fill: rgba(255,255,255,1);
  stroke: rgba(188,224,253,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.n_123 {
  position: absolute;
  overflow: visible;
  width: 295px;
  height: 48px;
  left: 0px;
  top: 0px;
}
#Parkjang_mailcom {
  left: 25px;
  top: 16px;
  position: absolute;
  overflow: visible;
  width: 130px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(38,153,251,1);
}
#inputs_ {
  position: absolute;
  width: 295px;
  height: 48px;
  left: 0px;
  top: 72px;
  overflow: visible;
}
#n_123_ {
  fill: rgba(255,255,255,1);
  stroke: rgba(188,224,253,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.n_123_ {
  position: absolute;
  overflow: visible;
  width: 295px;
  height: 48px;
  left: 0px;
  top: 0px;
}
#n_10_bc {
  fill: rgba(38,153,251,1);
}
.n_10_bc {
  overflow: visible;
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(180deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
.form-control {
  border-color:rgba(188,224,253,1);
  border-radius: 20px;
}
.form-control::placeholder {
  color: rgba(38, 152, 251, 0.775);
}
#Menu_ {
  position: absolute;
  width: 412px;
  height: 870px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: Menu ;
  --web-view-id: Menu_;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#tabs {
  position: absolute;
  width: 61px;
  height: 253px;
  left: 0px;
  top: 123px;
  overflow: visible;
}
#n_172 {
  fill: rgba(38,153,251,1);
}
.n_172 {
  position: absolute;
  overflow: visible;
  width: 61px;
  height: 61px;
  left: 0px;
  top: 0px;
}
#n__2 {
  position: absolute;
  width: 17px;
  height: 18px;
  left: 22px;
  top: 131px;
  overflow: visible;
}
#n_103 {
  fill: rgba(255,255,255,1);
}
.n_103 {
  overflow: visible;
  position: absolute;
  width: 17.578px;
  height: 17.578px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#n__2_y {
  position: absolute;
  width: 17px;
  height: 18px;
  left: 22px;
  top: 22px;
  overflow: visible;
}
#n_102 {
  fill: rgba(255,255,255,1);
}
.n_102 {
  overflow: visible;
  position: absolute;
  width: 17.578px;
  height: 17.578px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#n__3 {
  position: absolute;
  width: 17px;
  height: 18px;
  left: 22px;
  top: 235px;
  overflow: visible;
}
#n_1 {
  fill: rgba(255,255,255,1);
}
.n_1 {
  overflow: visible;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Menu_ba {
  position: absolute;
  width: 289px;
  height: 733px;
  /* left: 83px; */
  top: 0px;
  overflow: visible;
}
#n_581 {
  fill: rgba(38,153,251,1);
}
.n_581 {
  position: absolute;
  overflow: visible;
  width: 289px;
  height: 733px;
  left: 0px;
  top: 0px;
}
.profile {
  position: absolute;
  width: 412px;
  height: 88px;
  left: 0px;
  bottom: 0;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Personal_.html;
  cursor: pointer;
  background: rgba(255,255,255,1);
}
#n_582 {
  fill: rgba(255,255,255,1);
}
.n_582 {
  position: absolute;
  overflow: visible;
  width: 372px;
  height: 88px;
  left: 0px;
  top: 0px;
}
#Name {
  position: absolute;
  width: 66px;
  height: 35px;
  left: 100px;
  top: 25px;
  overflow: visible;
}
#n__ {
  left: 0px;
  top: 22px;
  position: absolute;
  overflow: visible;
  width: 67px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -7px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(38,153,251,1);
}
#profile_photo {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 40px;
  top: 17px;
  overflow: visible;
}
#n_96 {
  fill: rgba(241,249,255,1);
}
.n_96 {
  position: absolute;
  overflow: visible;
  width: 52px;
  height: 52px;
  left: 0px;
  top: 0px;
}
#n__4 {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 17px;
  top: 18px;
  overflow: visible;
}
#n_1_bc {
  fill: rgba(38,153,251,1);
}
.n_1_bc {
  overflow: visible;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
.menu_logout {
  position: absolute;
  width: 17px;
  height: 18px;
  right: 30%;
  top: 35px;
  overflow: visible;
}
#n_570 {
  fill: transparent;
}
.n_570 {
  position: absolute;
  overflow: visible;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 0px;
}
#n_151 {
  fill: rgba(38,153,251,1);
}
.n_151 {
  overflow: visible;
  position: absolute;
  width: 15.355px;
  height: 17.578px;
  left: 2.197px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
.menu-group-text {
  position: absolute;
  width: 148px;
  left: 120px;
  top: 115px;
  overflow: visible;
}
.menu-text {
  position: relative;
  background-color: rgba(38,153,251,1);
  vertical-align: middle;
  white-space: nowrap;
  /* line-height: 30px; */
  border: none;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(255,255,255,1);
}
#HOME {
  left: 47px;
  top: 14px;
  position: absolute;
  overflow: visible;
  width: 55px;
  white-space: nowrap;
  line-height: 30px;
  margin-top: -6px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(255,255,255,1);
}
#n__bz {
  position: absolute;
  width: 32.477px;
  height: 326.648px;
  left: 128px;
  top: 123px;
  overflow: visible;
}
.nav_icon {
  font-size: 1.25rem;
}
.material-icons {
  vertical-align: middle;
}
.bx {
  font-family: boxicons!important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
#n_29 {
  position: absolute;
  width: 11.7px;
  height: 17.578px;
  left: 8.773px;
  top: 5.836px;
  overflow: visible;
}
#n_238 {
  fill: rgba(255,255,255,1);
}
.n_238 {
  overflow: visible;
  position: absolute;
  width: 2.953px;
  height: 2.953px;
  left: 4.375px;
  top: 14.625px;
  transform: matrix(1,0,0,1,0,0);
}
#n_239 {
  fill: rgba(255,255,255,1);
}
.n_239 {
  overflow: visible;
  position: absolute;
  width: 11.699px;
  height: 13.148px;
  left: 0.002px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#n_237 {
  fill: rgba(255,255,255,1);
}
.n_237 {
  overflow: visible;
  position: absolute;
  width: 29.25px;
  height: 29.25px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-home {
  fill: rgba(255,255,255,1);
}
.Icon_awesome-home {
  overflow: visible;
  width: 29.488px;
  height: 22.93px;
  left: -0.002px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Navigation_Bar {
  position: absolute;
  width: 332px;
  height: 68px;
  left: 40px;
  top: 0px;
  overflow: visible;
}
#n_68 {
  fill: transparent;
}
.n_68 {
  position: absolute;
  overflow: visible;
  width: 332px;
  height: 20px;
  left: 0px;
  top: 0px;
}
#n_69 {
  fill: transparent;
}
.n_69 {
  position: absolute;
  overflow: visible;
  width: 332px;
  height: 48px;
  left: 0px;
  top: 20px;
}
.pagenation {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 100%;
}
.next {
  float: right;
  cursor: pointer;
  white-space: nowrap;
  text-align: right;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(38,153,251,1);
}
.skip {
  float: left;
  cursor: pointer;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(38,153,251,1);
}
#Pagination {
  position: absolute;
  width: 54px;
  height: 6px;
  left: 150px;
  top: 5px;
  overflow: visible;
}
#n_8_bg {
  fill: rgba(38,153,251,1);
}
.n_8_bg {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 6px;
  left: 0px;
  top: 0px;
}
#n_9_bh {
  fill: rgba(188,224,253,1);
}
.n_9_bh {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 6px;
  left: 16px;
  top: 0px;
}
#n_10_bi {
  fill: rgba(188,224,253,1);
}
.n_10_bi {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 6px;
  left: 32px;
  top: 0px;
}
#n_11_bj {
  fill: rgba(188,224,253,1);
}
.n_11_bj {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 6px;
  left: 48px;
  top: 0px;
}
#n_68_bm {
  fill: transparent;
}
.n_68_bm {
  position: absolute;
  overflow: visible;
  width: 332px;
  height: 20px;
  left: 0px;
  top: 0px;
}
#n_69_bn {
  fill: transparent;
}
.n_69_bn {
  position: absolute;
  overflow: visible;
  width: 332px;
  height: 48px;
  left: 0px;
  top: 20px;
}
.navbar-brand {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}
.btn_nav_back {
  position: absolute;
  left: 6%;
  top: 10px;
  width: 32px;
  height: 32px;
  background-color: transparent;
}
.btn_nav_menu {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 10px;
  right: 6%;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Menu_.html;
  cursor: pointer;
  background-color: transparent;
}
.g-icon {
  color: rgba(38,153,251,1);
}
.text_title {
  font-size: 21px;
  font-weight: bold;
  color: rgba(38,153,251,1);
}
.text_sub {
  text-align: left;
  font-size: 21px;
  font-weight: bold;
  color: rgba(38,153,251,1);
}
#loginForm {
  margin-top: 100px;
  margin-bottom: 100px;
}
.btn_submit {
  background-color: rgba(38,153,251,1);
  border-color: rgba(38,153,251,1);
}
.btn_outline {
  background-color: transparent;
  border-color: rgba(38,153,251,1);
  font-weight: bold;
  color: rgba(38,153,251,1);
}
.card_global {
  background-color: rgba(241,249,255,1);
  border-color: rgba(241,249,255,1);
}
.card_download {
  background-color: rgba(255,255,255,1);
  border-color: rgba(241,249,255,1);
  filter: drop-shadow(0px 30px 30px rgba(38, 153, 251, 0.102))
}
.btn-upload {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 5px;
    background: rgba(38,153,251,1);
    font-family: sans-serif;
    color: #fff;
    text-align: center;
}
.fs_14 {
  font-size: 14px;
  color: rgba(38,153,251,1);
}
.fs_20 {
  font-size: 20px;
  color: rgba(38,153,251,1);
}
.fs_48 {
  font-size: 48px;
  color: rgba(38,153,251,1);
}
.ico_circle {
  font-size: 52px;
  color: rgba(38,153,251,1);
}
#n_588 {
  position: absolute;
  width: 332px;
  height: 16px;
  left: 40px;
  top: 700px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Guide___2.html;
  cursor: pointer;
}
#NEXT_be {
  left: 295px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 38px;
  white-space: nowrap;
  text-align: right;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(38,153,251,1);
}
#Pagination_bf {
  position: absolute;
  width: 54px;
  height: 6px;
  left: 140px;
  top: 5px;
  overflow: visible;
}
#n_8_bg {
  fill: rgba(38,153,251,1);
}
.n_8_bg {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 6px;
  left: 0px;
  top: 0px;
}
#n_9_bh {
  fill: rgba(188,224,253,1);
}
.n_9_bh {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 6px;
  left: 16px;
  top: 0px;
}
#n_10_bi {
  fill: rgba(188,224,253,1);
}
.n_10_bi {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 6px;
  left: 32px;
  top: 0px;
}
#n_11_bj {
  fill: rgba(188,224,253,1);
}
.n_11_bj {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 6px;
  left: 48px;
  top: 0px;
}
#n_68_bm {
  fill: transparent;
}
.n_68_bm {
  position: absolute;
  overflow: visible;
  width: 332px;
  height: 20px;
  left: 0px;
  top: 0px;
}
#n_69_bn {
  fill: transparent;
}
.n_69_bn {
  position: absolute;
  overflow: visible;
  width: 332px;
  height: 48px;
  left: 0px;
  top: 20px;
}
#n_175_bp {
  fill: transparent;
}
.n_175_bp {
  position: absolute;
  overflow: visible;
  width: 16px;
  height: 16px;
  left: 0px;
  top: 0px;
}

#Menu_cd {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 316px;
  top: 35px;
  overflow: visible;
}
#n_175 {
  fill: transparent;
}
.n_175 {
  position: absolute;
  overflow: visible;
  width: 16px;
  height: 16px;
  left: 0px;
  top: 0px;
}
#n_4 {
  fill: rgba(38,153,251,1);
}
.n_4 {
  overflow: visible;
  position: absolute;
  width: 16px;
  height: 14px;
  left: 0px;
  top: 1px;
  transform: matrix(1,0,0,1,0,0);
}